.profile-menu-container {
  position: relative;
  display: inline-block;
}

.profile-icon-nav {
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.profile-icon-nav img{
  width: 40px;
  height: 40px;
}

.profile-dropdown {
  position: absolute;
  top: 50px; /* below icon */
  right: 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 8px 8px;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 14px;
}

.menu-item:hover {
  background: #f5f5f5;
}

.logout {
  border-top: 1px solid #eee;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(255,0,0,.2);
  border-radius: 3rem;
  border: 1px solid red;
  color: red;
  font-weight: 600;
}

