.sidebar-container {
    width: 20%;
    min-height: 400px;
    height: calc(100vh - 60px);
    position: relative;
    border-right: 1px solid #a7a7a7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .collapse-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #a7a7a7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -10%;
        top: 10%;
        background: white;
    }
    .sidebar-menu {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0.6rem 1rem;
        gap: 0.3rem;
        transition: 0.5s width;
        .sidebar-menu-item {
            font-family: "Open Sans", sans-serif;
            width: 100%;
            padding: 0 0.8rem;
            height: 50px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            gap: 0.6rem;
            border-radius: 8px;
            cursor: pointer;
            color: black;
            transition: 0.4s all;
            svg {
                width: 25px;
            }
            &:hover {
                background: #d8e6ee70;
                color: black;
            }
        }
        .active-page {
            background: #d8e6ee70;
            color: black;
        }
        .line {
            width: 100%;
            height: 1px;
            background: #cfcfcf;
            margin: 0.5rem 0;
        }
    }
    .dialog-box-container {
        width: 100%;
        height: 200px;
        padding: 0.6rem;
        .dialog-box {
            width: 100%;
            height: 100%;
            border: 2px solid rgb(212, 212, 212);
            border-radius: 20px;
        }
    }
}
