.feed-page-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 0 2rem;
   
}
.feed-page-container::-webkit-scrollbar{
    display: none;
}
.feed-page-container .box{
    width: 50%;
    min-height: 300px;
    background: red;
    margin-top: 1rem;
    margin-left: 1rem;
}
.feed-page-wrapper{
    width: 100%;
    height: 100%;
     display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    overflow: scroll;
    padding: 1rem 0;
}
.feed-page-wrapper::-webkit-scrollbar{
    display: none;
}