.navbar-section {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.navbar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64.2%;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 4px 25px rgba(0,0,0,.4);
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 900;
  width: 7.9%;
  color: white;
  margin-right: 100px;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.menu-item {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #787878;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-item.dropdown {
  position: relative;
}

.arrow-icon {
  width: 10px;
  height: 5px;
  margin-left: 4px;
  position: relative;
  top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  flex-direction: column;
}

.dropdown-content a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.navbutton {
  margin-left: auto;
  padding: 0.5rem 1.2rem;
  background-color: #2B2B2B;
  border: 1px solid #A7A7A7;
  border-radius: 5px;
  font-size: 1rem;
  text-wrap: nowrap;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.big-image-container {
  margin: 0 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.big-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.small-img {
  position: absolute;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.hero-title {
  font-size: 2.8125rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  margin: 0.1px 0;
}

.hero-subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #A7A7A7;
  margin: 0.1px 0 1px 0;
}

.hero-button {
  width: 7.5rem;
  margin: 5px auto;
  height: 2.1875rem;
  background-color: #fff;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.next-section {
  padding: 12.5rem 0;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600px;
}

.next-text {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
  max-width: 70.238%;
  margin: 0 auto;
  color: #A2A2A2;
  overflow: hidden;
  display: block;
  text-align: center;
}

.next-text .quotes {
  color: #000000;
}

.hero2-button {
  width: 7.5rem;
  margin-top: 1rem;
  height: 2.1875rem;
  background-color: #fff;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.big-image2-container {
  margin: 0 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.big-bg2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.hero2-content {
  position: absolute;
  top: 35%; 
  left: 50px; /* distance from left edge */
  transform: translateY(-50%);
  text-align: left; /* everything starts from left */
  z-index: 10;
  line-height: 1.4;
  max-width: 80%; /* controls wrapping to 4 lines */
}

.hero2-title {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  margin: 0 0 20px 0;
  white-space: normal; /* allow wrapping */
}

.hero2-title .half-title {
  color: rgba(255, 255, 255, 0.48);
}


.hero2-title .half-title {
  color: rgba(255, 255, 255, 0.48);
}

.whyus {
  display: flex;
  max-width: 81.81%;
  margin: 0 auto 50px auto;
  gap: 4.3%;
}
.left-part {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.left-part h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  max-width: 60%; 
  word-wrap: break-word; 
  margin: 0;
}
.left-part p {
  margin: 20px 0 0 0;
}
.right-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cards {
  background-color: #F5F5F5;
  border-radius: 10px;
  text-align: left;
  padding: 15px;
  
}
.cards p {
  color: #A7A7A7;
}
.syct {
  margin: 200px auto 200px auto;
}
.heading {
  font-weight: normal;
  font-size: 1rem;
}

.cards2container {
  display: flex;
  flex-direction: overflow;
  max-width: 90%;
  margin: 20px auto 20px auto;
  gap: 20px;
}
.cards2  {
  background-color: #F6F6F6;
  border-radius: 50px;
  height: 370px;
  
}
.cards2 img {
  width: 100%;
  height: 53.06%;
}
.cards2 p {
  color: #7B7B7B;
  padding: 0 20px;
}
.cards2 h1 {
  display: inline-block;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #CBCBCB;
  border-radius: 40px;
  }
.cards2 h2 {
  display: inline-block;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #CBCBCB;
  border-radius: 40px;
  }
.cards2 h3 {
  display: inline-block;
  padding: 8px 16px ;
  background-color: transparent;
  border: 1px solid #CBCBCB;
  border-radius: 40px;
  }
  
.cards2 h1::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: red;
  margin-right: 20px;
  vertical-align: middle;
  
}
.cards2 h2::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #22FF00;
  margin-right: 20px;
  vertical-align: middle;
  
}
.cards2 h3::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #1100FF;
  margin-right: 20px;
  vertical-align: middle;
  
}
.hero-button-black {
  width: 7.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  height: 2.1875rem;
  background-color: #000;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.faq-section {
  display: flex;
  margin: 100px auto 100px auto ;
  max-width: 90.84%;
  align-items: center;
  gap: 10px;
  }
.button+arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.faq-button {
  display: flex;
  align-items: center;
  width: 9rem;
  
  
  height: 2.1875rem;
  background-color: #000;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.arrowleft {
  
  margin-left: 8px;
}
.left-section {
  display: flex;
  flex-direction: column;
}
.left-text {
  font-family: 'inter',sans-serif;
  font-size: 1rem;
  font-weight: 600px;
  text-align: left;
  color: #A7A7A7;
  /*white-space: normal;*/ 
}
.left-text .left-text2 {
  color: #000000;
}
.question {
  display: flex;
  }

.faqs p {
  font-family: 'inter',sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  max-width: none;
  text-align: left;
  color: #000000;
  white-space: nowrap;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  /*min-width: 430px;*/
  width: 100%;
  background-color: transparent;
  border: 1px solid #A2A2A2;
  box-sizing: border-box;
  border-radius: 15px;
  gap: 10px;
  }